Repository serverlessworkflow/specification, pull requests merged in 2020-12, with the labels that each got.

#193 Fixing floats for max/min properties in schema files
  schema/retries.json
  schema/workflow.json
  specification.md
Labels: spec

#196 Adding Achilleas Tzenetopoulos to list of community contributors
  community/contributors.md
Labels: community

#198 Added reference to the Common Workflow Language (CWL)
  references/README.md
Labels: documentation

#192 Workflow Compensation
  media/spec/compensation-exec.png
  media/spec/compensation-exec2.png
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#201 Adding roadmap items from call 07/12/12
  roadmap/README.md
Labels: roadmap

#205 Adding Google Cloud Workflow lang comparison examples
  examples/README.md
  examples/examples-google-cloud-workflows.md
  roadmap/README.md
Labels: examples
