Repository serverlessworkflow/specification, pull requests merged in 2020-07, with the labels that each got.

#55 Adding license headers script
  .github/labeler.yml
  .github/workflows/action.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  .markdownlint.yaml
  Makefile
  docs/css/sws.css
  docs/index.html
  docs/js/sws.js
  sdk/go/hack/generate-spec-types.sh
  sdk/go/hack/run-controller-gen.sh
  sdk/go/pkg/apis/serverlessworkflow/doc.go
  sdk/go/pkg/apis/serverlessworkflow/generated.types_spec.go
  sdk/go/pkg/apis/serverlessworkflow/zz_generated.deepcopy.go
Labels: Idea, community, documentation

#66 Update Primer link for website
  docs/index.html
Labels: website

#30 Ability to define events as produced/consumed
  specification/README.md
  specification/examples/examples-brigade.md
  specification/examples/examples.md
  specification/roadmap/README.md
  specification/schema/events.json
  specification/schema/workflow.json
Labels: Status: Awaiting response, schema, spec

#67 Java SDK - add 'produced'/'consumed' event definitions kind
  sdk/java/api/src/main/java/io/cncf/serverlessworkflow/api/deserializers/EventDefinitionKindDeserializer.java
  sdk/java/api/src/main/java/io/cncf/serverlessworkflow/api/mapper/WorkflowModule.java
  sdk/java/api/src/main/resources/schema/events/eventdef.json
  sdk/java/api/src/test/java/io/cncf/serverlessworkflow/api/test/WorkflowToMarkupTest.java
Labels: sdk

#50 Allow actions to be used instead of states in ForEach state and Paral…
  specification/README.md
  specification/schema/workflow.json
Labels: schema, spec

#34 Adding cron-based scheduled start definition
  specification/README.md
  specification/examples/examples.md
  specification/media/examples/example-periodicalexec.png
  specification/roadmap/README.md
  specification/schema/workflow.json
Labels: Status: Awaiting response, schema, spec

#73 Small updates to specification doc intro sections
  docs/index.html
  specification/README.md
Labels: spec, website

#63 Use Common Expression Language as single expression lang in spec
  sdk/java/api/src/main/java/io/serverlessworkflow/api/serializers/WorkflowSerializer.java
  sdk/java/api/src/main/resources/schema/error/error.json
  sdk/java/api/src/main/resources/schema/expression/expression.json
  sdk/java/api/src/main/resources/schema/retry/retry.json
  sdk/java/api/src/main/resources/schema/transitions/transition.json
  sdk/java/api/src/main/resources/schema/workflow.json
  sdk/java/api/src/test/resources/examples/provisionorder.json
  sdk/java/api/src/test/resources/examples/provisionorder.yml
  specification/README.md
  specification/examples/examples.md
  specification/roadmap/README.md
  specification/schema/workflow.json
Labels: schema, spec

#75 Add ability to invoke services in actions via event
  specification/README.md
  specification/examples/examples.md
  specification/media/examples/example-vetappointment.png
  specification/roadmap/README.md
  specification/schema/events.json
  specification/schema/workflow.json
Labels: examples, schema, spec

#93 Fixing text in usecases doc images
  media/usecases/usecase-app-payment.png
  media/usecases/usecase-continuous-integration.png
  media/usecases/usecase-data-analysis.png
  media/usecases/usecase-error-notifications.png
  media/usecases/usecase-vehicle-auction.png
Labels: usecases

#96 Updating meeting info and align spec def with spec doc
  README.md
Labels: community

#97 Remove need for expression languages (use JsonPath only)
  examples/examples-argo.md
  examples/examples-brigade.md
  examples/examples.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#101 Remove old duplicate section from main readme
  README.md
Labels: community

#99 Update Switch state data conditions
  examples/examples-argo.md
  examples/examples.md
  schema/workflow.json
  specification.md
Labels: spec

#102 Update integer type properties
  schema/workflow.json
  specification.md
Labels: impacts SDK :wrench:, spec

#103 Fix single quotes and align parameters/properties text
  specification.md
Labels: documentation

#104 Small typo fix
  specification.md
Labels: documentation

#106 Spec intro sections and table of contents update
  .typo-ci.yml
  specification.md
Labels: spec

#107 Adding Project Maintainers Email to main readme
  .typo-ci.yml
  README.md
Labels: community

#109 Closes #108: Update workflow extensions documentation and add workflow KPIs extension
  .github/ISSUE_TEMPLATE/new-extension.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  extending/README.md
  extensions/README.md
  extensions/kpi.md
  media/spec/spec-goals.png
  media/spec/spec-overview.png
  roadmap/README.md
  schema/common.json
  schema/events.json
  schema/extensions/kpi.json
  schema/functions.json
  schema/workflow.json
  specification.md
Labels: schema, spec
