Repository serverlessworkflow/specification, pull requests merged in 2020-06, with the labels that each got.

#22 adding contributing and code of conduct
  CONTRIBUTING.md
Labels: Status: Awaiting response

#43 Adding copyright in website footer
  docs/index.html
Labels: website

#32 Separating JSON Schema into multiple schemas
  README.md
  specification/README.md
  specification/schema/common.json
  specification/schema/events.json
  specification/schema/functions.json
  specification/schema/workflow.json
Labels: spec

#36 Adding Ricardo Zanini to list of community contributors
  specification/community/contributors.md
Labels: community

#38 Adding Kay Singh to list of community contributors
  specification/community/contributors.md
Labels: community

#46 Replace JSON Schema defs with actual definition examples in Spec doc
  specification/README.md
Labels: spec

#28 Introducting Go types
  .gitignore
  sdk/go/.gitignore
  sdk/go/Makefile
  sdk/go/README.md
  sdk/go/go.mod
  sdk/go/go.sum
  sdk/go/hack/generate-spec-types.sh
  sdk/go/pkg/apis/serverlessworkflow/generated.types_spec.go
Labels: spec

#51 Add SDK info to the main readme
  README.md
Labels: spec

#52 [SDK] Fixing package name for generated Go types
  sdk/go/pkg/apis/serverlessworkflow/generated.types_spec.go
  specification/roadmap/README.md
Labels: sdk

#54 Add DeepCopy and DeepCopyInto functions to Go types
  sdk/go/go.sum
  sdk/go/hack/generate-spec-types.sh
  sdk/go/hack/run-controller-gen.sh
  sdk/go/pkg/apis/serverlessworkflow/doc.go
  sdk/go/pkg/apis/serverlessworkflow/zz_generated.deepcopy.go
Labels: sdk
