Repository serverlessworkflow/specification, pull requests merged in 2021-02, with the labels that each got.

#244 Fixed the link to Cadence comparison example
  comparisons/README.md
Labels: bug

#242 Fixes #227 - Remove dataSchema property
  schema/workflow.json
  specification.md
Labels: spec

#243 Closes #239: Add SubFlow state repeat ability
  examples/README.md
  media/examples/example-checkcarvitals.png
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#247 fixing workflow schema (add missing retries def)
  schema/workflow.json
Labels: bug, schema

#248 removing the transition restricting section from spec doc
  specification.md
Labels: bug, spec

#255 fix top-level workflow properties in schema
  schema/events.json
  schema/functions.json
  schema/retries.json
  schema/workflow.json
Labels: schema

#252 BPMN comparison examples
  comparisons/README.md
  comparisons/comparison-argo.md
  comparisons/comparison-bpmn.md
  comparisons/comparison-brigade.md
  comparisons/comparison-cadence.md
  comparisons/comparison-google-cloud-workflows.md
  comparisons/comparison-temporal.md
  media/comparisons/bpmn/approvereport.png
  media/comparisons/bpmn/error-with-retries.png
  media/comparisons/bpmn/event-decisions.png
  media/comparisons/bpmn/exec-timeout.png
  media/comparisons/bpmn/multiinstance-subprocess.png
  media/comparisons/bpmn/process-applicant.png
  media/comparisons/bpmn/simple-compensation.png
  media/comparisons/bpmn/simple-file-processing.png
  roadmap/README.md
Labels: examples

#246 Adding RPC for function defs (gRPC)
  roadmap/README.md
  schema/functions.json
  specification.md
Labels: spec

#263 Change functionref definition 'parameters' to 'arguments'
  comparisons/comparison-argo.md
  comparisons/comparison-brigade.md
  comparisons/comparison-cadence.md
  comparisons/comparison-google-cloud-workflows.md
  comparisons/comparison-temporal.md
  examples/README.md
  extensions/kpi.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#260 Simplify schedule and cron definitions
  examples/README.md
  schema/workflow.json
  specification.md
Labels: spec

#249 Replacing jsonpath with jq and adding 'expressionLang' top level property
  comparisons/comparison-argo.md
  comparisons/comparison-brigade.md
  comparisons/comparison-cadence.md
  comparisons/comparison-google-cloud-workflows.md
  examples/README.md
  extensions/kpi.md
  media/spec/event-data-filter-example1.png
  media/spec/state-data-filter-example1.png
  media/spec/state-data-filter-example2.png
  roadmap/README.md
  schema/functions.json
  schema/workflow.json
  specification.md
Labels: spec

#267 Adding Josh Lane to community contributors
  community/contributors.md
Labels: community

#274 Fix broken state filtering links in specification.md
  specification.md
Labels: spec

#275 Adding Chris Gillum to list of community contributors
  community/contributors.md
Labels: community
