Repository serverlessworkflow/specification, pull requests merged in 2021-08, with the labels that each got.

#432 Remove waitForCompletion for subflows
  comparisons/comparison-cadence.md
  examples/README.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#437 Fix inconsistency on function types on spec doc
  specification.md
Labels: spec

#439 Rename Delay state to Sleep state and rename timeDelay to duration pr…
  examples/README.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#440 Adding sleep object type prop to action definitions
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#443 Fix Car Vitals example
  examples/README.md
  media/examples/example-checkcarvitals.png
Labels: examples

#442 Adding rate limiting extension
  extensions/README.md
  extensions/kpi.md
  extensions/ratelimiting.md
  roadmap/README.md
  schema/extensions/kpi.json
  schema/extensions/ratelimiting.json
  specification.md
Labels: extensions

#441 Foreach State - adding sequential exec option and batchSize for paral…
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#435 Error and Retry handling update
  comparisons/comparison-argo.md
  comparisons/comparison-bpmn.md
  comparisons/comparison-brigade.md
  comparisons/comparison-cadence.md
  comparisons/comparison-google-cloud-workflows.md
  comparisons/comparison-temporal.md
  examples/README.md
  roadmap/README.md
  schema/errors.json
  schema/workflow.json
  specification.md
Labels: spec

#446 Adding continueAs prop to end definitions
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#453 fixing auth json typo in def name
  schema/auth.json
Labels: bug

#460 Add support for custom function type definitions
  roadmap/README.md
  schema/functions.json
  specification.md
Labels: spec, impacts SDK :wrench:
