Repository serverlessworkflow/specification, pull requests merged in 2021-01, with the labels that each got.

#221 Updates to retry definition
  examples/examples-argo.md
  examples/examples-google-cloud-workflows.md
  roadmap/README.md
  schema/retries.json
  specification.md
Labels: spec

#220 Remove 'names' property from event defs
  schema/events.json
  specification.md
Labels: spec

#222 Change directInvoke property type to boolean
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#218 Data input/output schema update
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#210 Update to start/end definitions
  examples/examples-argo.md
  examples/examples-brigade.md
  examples/examples-google-cloud-workflows.md
  examples/examples.md
  extensions/kpi.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#226 Adding validUntil property to cron definition
  examples/examples.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#232 Add ability to define reusable expression functions
  README.md
  media/spec/spec-parts.png
  media/spec/spec-project-components.png
  roadmap/README.md
  schema/functions.json
  schema/workflow.json
  specification.md
Labels: spec

#229 Temporal comparisons examples
  examples/README.md
  examples/examples-temporal.md
  roadmap/README.md
Labels: examples

#235 Simplified functionRef and transition properties
  examples/examples-argo.md
  examples/examples-brigade.md
  examples/examples-google-cloud-workflows.md
  examples/examples.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#236 Updated spec doc status message and restructured roadmap doc
  roadmap/README.md
  specification.md
Labels: roadmap

#237 Separated comparisons from examples and added Cadence comparison
  comparisons/README.md
  comparisons/comparison-argo.md
  comparisons/comparison-brigade.md
  comparisons/comparison-cadence.md
  comparisons/comparison-google-cloud-workflows.md
  comparisons/comparison-temporal.md
  examples/README.md
  examples/examples.md
  roadmap/README.md
  specification.md
Labels: examples

#223 Adding workflow execTimeout and keepActive properties
  examples/README.md
  media/examples/example-accumulateroomreadings.png
  media/examples/example-purchaseorderdeadline.png
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec
