Repository serverlessworkflow/specification, pull requests merged in 2021-04, with the labels that each got.

#326 Add Charles d'Avernas to community contributors
  community/contributors.md
Labels: community

#330 Fix SubFlow state properties
  specification.md
Labels: spec

#332 Adding Antonio Mendoza Pérez to list of community contributors
  community/contributors.md
Labels: community

#301 Move support for sub-flows to actions
  comparisons/comparison-bpmn.md
  comparisons/comparison-google-cloud-workflows.md
  examples/README.md
  schema/workflow.json
  specification.md
Labels: spec

#331 Adding workflow dataInputSchema property
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#341 Update roadmap - adding subflow action type
  roadmap/README.md
Labels: roadmap

#340 Fix ExecTimeout definition examples
  specification.md
Labels: spec

#344 Adding Richard Gibson to list of community contributors
  community/contributors.md
Labels: community

#338 Clarify the format of Schedule `interval` and its relationship to ISO 8601
  specification.md
Labels: spec

#348 Rename switch state `default` to `defaultCondition` to avoid keyword …
  comparisons/comparison-bpmn.md
  comparisons/comparison-google-cloud-workflows.md
  examples/README.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#351 Update Parallel state completionType values/description
  comparisons/comparison-argo.md
  examples/README.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec
