Repository serverlessworkflow/specification, pull requests merged in 2021-05, with the labels that each got.

#359 Remove workflowId from Parallel state
  comparisons/comparison-cadence.md
  examples/README.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#360 Small spelling fixes
  README.md
  examples/README.md
  schema/workflow.json
  specification.md
Labels: documentation

#363 Small fixes to SubflowRef definition section
  specification.md
Labels: spec

#366 Remove some duplication in the required fields for parallel and events states
  schema/workflow.json
Labels: spec

#371 Adding Charles d'Avernas to list of project maintainers
  .github/CODEOWNERS
  .github/OWNERS
  .typo-ci.yml
  MAINTAINERS.md
  OWNERS
Labels: community

#342 Adding subflow action version property
  comparisons/comparison-argo.md
  comparisons/comparison-bpmn.md
  comparisons/comparison-brigade.md
  comparisons/comparison-cadence.md
  comparisons/comparison-google-cloud-workflows.md
  comparisons/comparison-temporal.md
  examples/README.md
  extensions/kpi.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#349 Update eventDataFilter to call out that the entire event can be accessed
  comparisons/comparison-brigade.md
  examples/README.md
  roadmap/README.md
  schema/events.json
  schema/workflow.json
  specification.md
Labels: spec

#377 Example Fix: Add state definition hyperlinks to examples
  examples/README.md
Labels: examples

#381 Remove oneOf condition duplicated
  schema/workflow.json
Labels: spec

#384 Moves functionref to its own definition
  schema/workflow.json
Labels: schema

#385 Fix required params def for usedForCompensation
  schema/workflow.json
Labels: schema

#387 Fix schema ids and specVersion prop value
  comparisons/comparison-argo.md
  comparisons/comparison-bpmn.md
  comparisons/comparison-brigade.md
  comparisons/comparison-cadence.md
  comparisons/comparison-google-cloud-workflows.md
  comparisons/comparison-temporal.md
  examples/README.md
  extensions/kpi.md
  schema/common.json
  schema/events.json
  schema/extensions/kpi.json
  schema/functions.json
  schema/retries.json
  schema/workflow.json
  specification.md
Labels: schema

#388 [0.6.x] Update to schema ids to match website urls
  schema/common.json
  schema/events.json
  schema/extensions/kpi.json
  schema/functions.json
  schema/retries.json
  schema/workflow.json
Labels: cherry-pick :cherries:, schema

#390 Fix minor typos
  specification.md
Labels: documentation

#391 Schema typo fix
  schema/workflow.json
Labels: schema

#382 Adding support for secrets and globals
  roadmap/README.md
  schema/secrets.json
  schema/workflow.json
  specification.md
Labels: spec
