Repository serverlessworkflow/specification, pull requests merged in 2021-03, with the labels that each got.

#276 Adding Alan Murtagh and Jens Gerke to list of community contributors
  community/contributors.md
Labels: community

#266 Move start definition to top-level workflow properties
  comparisons/comparison-argo.md
  comparisons/comparison-bpmn.md
  comparisons/comparison-brigade.md
  comparisons/comparison-cadence.md
  comparisons/comparison-google-cloud-workflows.md
  comparisons/comparison-temporal.md
  examples/README.md
  extensions/kpi.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#268 Adding book lending example
  examples/README.md
  media/examples/example-booklending.png
Labels: examples

#269 Change onEvents actions to not be required property
  schema/workflow.json
  specification.md
Labels: spec

#270 Fix switch state event conditions required params + make default para…
  schema/workflow.json
  specification.md
Labels: spec

#281 Updates to schedule definition
  comparisons/comparison-bpmn.md
  examples/README.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#278 Updating data filters
  comparisons/comparison-argo.md
  comparisons/comparison-brigade.md
  comparisons/comparison-cadence.md
  comparisons/comparison-google-cloud-workflows.md
  examples/README.md
  media/spec/event-data-filter-example1.png
  media/spec/state-data-filter-example1.png
  media/spec/state-data-filter-example2.png
  media/spec/workflowdataflow.png
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: examples, spec

#279 New example - filling up a glass of water
  examples/README.md
  media/examples/examples-fill-glass.png
  specification.md
Labels: examples, spec

#294 Fix minor typos
  specification.md
Labels: spec

#289 Online Food Ordering Example
  examples/README.md
  media/examples/example-foodorder-outline.png
Labels: examples

#319 Adding workflow key and annotations props
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec
