Repository serverlessworkflow/specification, pull requests merged in 2021-12, with the labels that each got.

#539 Fix support for workflow extensions
  extensions/kpi.md
  extensions/ratelimiting.md
  roadmap/README.md
  schema/workflow.json
  schema/workflowextensions.json
  specification.md
Labels: spec

#563 Fix wording around secrets and constants predefined expression vars
  specification.md
Labels: documentation

#564 Fix state execution timeout schema and text
  roadmap/README.md
  schema/timeouts.json
  specification.md
Labels: bug

#565 Update description and use of multiplier and increment properties
  roadmap/README.md
  specification.md
Labels: documentation

#561 Sleep state changes
  schema/workflow.json
  specification.md
Labels: spec

#566 Add clarification on mutually exclusive properties
  roadmap/README.md
  specification.md
Labels: documentation
