Repository serverlessworkflow/specification, pull requests merged in 2022-02, with the labels that each got.

#585 States and actions must have unique names and no IDs
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#575 update to eventRef props
  examples/README.md
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: enhancement

#589 Small typo fix on Auth Definition section
  specification.md
Labels: documentation

#597 Update `dataInputSchema` property to allow for in-line schema def
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#602 Removed duplicate word in the specification
  specification.md
Labels: documentation
