Repository serverlessworkflow/specification, pull requests merged in 2022-01, with the labels that each got.

#568 Closes #567 - Make resultEventRef attribute optional
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: spec

#577 update annual review
  annualreviews/2021-ServerlessWorkflowSpecification-annual.md
Labels: community

#576 Make stateName in start def optional
  roadmap/README.md
  schema/workflow.json
  specification.md
Labels: enhancement

#578 Fix workflow id mention on parallel state branch def
  specification.md
Labels: documentation
