Repository serverlessworkflow/specification, pull requests merged in 2024-05, with the labels that each got.

#840 Fix #818 - Merge REST and OPENAPI operations, introduce HTTP functions
  .ci/validation/package-lock.json
  .ci/validation/package.json
  .github/workflows/schema-check.yaml
  examples/curl.json
  schema/functions.json
  specification.md
Labels: documentation, enhancement, examples

#841 Add Emeritus Maintaner role; Add 2 days period for merging PRs
  GOVERNANCE.md
Labels: community

#820 Refactor error handling
  examples/new-patient-onboarding.json
  examples/process-transactions.json
  examples/provision-orders.json
  package-lock.json
  roadmap/README.md
  schema/errors.json
  schema/workflow.json
  specification.md
Labels: enhancement, spec, examples, schema, impacts SDK :wrench:
