Repository serverlessworkflow/specification, pull requests merged in 2024-08, with the labels that each got.

#947 Create SECURITY.md
  SECURITY.md
Labels: change: feature, area: spec, area: governance

#946 Fix README.md Badges
  README.md
Labels: change: fix, change: documentation

#957 Remove duplicate uri scheme from error types
  dsl-reference.md
  dsl.md
Labels: change: fix, change: documentation, area: spec

#953 Specify task and workflow arguments
  dsl.md
Labels: change: fix, change: documentation, area: spec

#955 Document limited uri-template support
  dsl-reference.md
  schema/workflow.yaml
Labels: change: fix, change: documentation, area: spec

#956 Allow query parameters in call http
  dsl-reference.md
  examples/http-query-params.yaml
  schema/workflow.yaml
Labels: change: documentation, change: feature, area: spec

#952 Specify runtime argument
  dsl.md
Labels: change: documentation, change: feature, area: spec

#960 Add a new `arguments` property to the `script` process
  dsl-reference.md
  examples/run-script-with-arguments.yaml
  schema/workflow.yaml
Labels: change: documentation, change: feature, area: spec

#958 Document Data Flow and expression context more clearly
  dsl-reference.md
  dsl.md
Labels: change: fix, change: documentation, area: spec

#948 Add priority of constituencies
  dsl.md
Labels: change: feature, area: spec, area: governance

#965 Add `reference` property to the `TaskDescriptor` object
  dsl.md
Labels: change: documentation, change: feature, area: spec

#969 Fix custom function documentation
  dsl.md
Labels: change: fix, change: documentation, area: spec

#984 Fixed `call`, `raise` and `try` features
  ctk/features/call.feature
  ctk/features/raise.feature
  ctk/features/try.feature
Labels: change: fix, area: ctk

#973 Refactor OAuth2 and add OIDC authentication policy
  dsl-reference.md
  examples/oauth2.yaml
  examples/oidc.yaml
  schema/workflow.yaml
Labels: change: fix, change: documentation, change: feature, area: spec, change: breaking

#987 Document the difference between an event-driven schedule and a startup listen task
  dsl.md
  examples/cron-schedule.yaml
  examples/event-driven-schedule.yaml
Labels: change: fix, change: documentation

#988 Add use cases and examples
  README.md
  dsl-reference.md
  examples/README.md
  examples/authentication-bearer-uri-format.yaml
  examples/authentication-bearer.yaml
  examples/authentication-oauth2.yaml
  examples/authentication-oidc.yaml
  examples/authentication-reusable.yaml
  examples/call-asyncapi.yaml
  examples/call-custom-function-cataloged.yaml
  examples/call-custom-function-inline.yaml
  examples/call-grpc.yaml
  examples/call-http-endpoint-interpolation-shorthand.yaml
  examples/call-http-endpoint-interpolation.yaml
  examples/call-http-query-parameters.yaml
  examples/call-openapi.yaml
  examples/conditional-task.yaml
  examples/do-multiple.yaml
  examples/emit.yaml
  examples/for.yaml
  examples/fork.yaml
  examples/listen-to-all.yaml
  examples/listen-to-any.yaml
  examples/listen-to-one.yaml
  examples/raise.yaml
  examples/run-container.yaml
  examples/run-subflow.yaml
  examples/schedule-cron.yaml
  examples/schedule-event-driven.yaml
  examples/set.yaml
  examples/try-catch-retry.yaml
  examples/try-catch-then.yaml
  examples/try-catch.yaml
  examples/wait-duration-inline.yaml
  examples/wait-duration-iso8601.yaml
  schema/workflow.yaml
  use-cases/README.md
  use-cases/automated-data-backup/README.md
  use-cases/automated-data-backup/diagram.png
  use-cases/managing-ev-charging-stations/README.md
  use-cases/managing-ev-charging-stations/diagram.png
  use-cases/managing-github-issues/README.md
  use-cases/managing-github-issues/diagram.png
  use-cases/multi-agent-ai-content-generation/README.md
  use-cases/multi-agent-ai-content-generation/diagram.png
Labels: change: fix, change: documentation, change: feature, area: spec

#996 Add a new `metadata` property to the workflow document and to tasks
  dsl-reference.md
  schema/workflow.yaml
Labels: change: documentation, change: feature, area: spec

#982 Document schema validation order
  dsl-reference.md
  dsl.md
Labels: change: fix, change: documentation

#1000 Fixed `DigestAuthenticationProperties` title in schema
  schema/workflow.yaml
Labels: change: documentation, area: spec

#1002 Added new reusable components and fixed unreferenceable errors and retries
  dsl-reference.md
  examples/raise-inline copy.yaml
  examples/raise-reusable.yaml
  examples/try-catch-retry-inline.yaml
  examples/try-catch-retry-reusable.yaml
  schema/workflow.yaml
Labels: change: fix, change: documentation, change: feature, area: spec

#995 Add a new property used to determine whether or not to await the execution of a process
  .markdownlint.yaml
  .typo-ci.yml
  dsl-reference.md
  schema/workflow.yaml
Labels: change: documentation, change: feature, area: spec

#1005 Document context of `task.if`
  dsl-reference.md
  dsl.md
Labels: change: fix, change: documentation
