Repository serverlessworkflow/specification, pull requests merged in 2024-06, with the labels that each got.

#876 Fix workflow schema: change `const`, adding missing `object`; etc.
  examples/asyncapi.yaml
  examples/use-authentication.yaml
  schema/workflow.yaml
Labels: change: fix, area: spec

#898 Fix task `if` property doc
  dsl-reference.md
  schema/workflow.yaml
Labels: change: documentation, area: spec

#908 Changes the way authentication policies can be referenced
  dsl-reference.md
  dsl.md
  examples/use-authentication.yaml
  schema/workflow.yaml
Labels: change: documentation, area: spec, change: breaking
