Repository serverlessworkflow/specification, pull requests merged in 2025-01, with the labels that each got.

#1052 Add a new `return` property to the `run` task
  dsl-reference.md
  examples/run-return-all.yaml
  examples/run-return-code.yaml
  examples/run-return-none.yaml
  examples/run-return-stderr.yaml
  schema/workflow.yaml
Labels: change: documentation, change: feature, area: spec, area: examples

#1048 Add a new `$authorization` runtime expression argument
  dsl.md
Labels: change: documentation, change: feature, area: spec

#1046 Renamed the OpenAPI `arguments` property to `parameters` in the `dsl-reference.md` file
  dsl-reference.md
Labels: change: fix, change: documentation

#1050 Document the output of a task that defines an non-awaited process
  dsl-reference.md
Labels: change: documentation, change: feature, area: spec

#1053 Refactor the `AsyncAPI` call
  dsl-reference.md
  examples/call-asyncapi-publish.yaml
  examples/call-asyncapi-subscribe-consume-amount.yaml
  examples/call-asyncapi-subscribe-consume-until.yaml
  examples/call-asyncapi-subscribe-consume-while.yaml
  schema/workflow.yaml
Labels: change: fix, change: documentation, change: feature, area: spec, change: breaking, area: examples

#1047 Add a new `to` property to the `emit` task
  dsl-reference.md
  examples/emit-cc.yaml
  schema/workflow.yaml
Labels: change: documentation, change: feature, area: spec

#1049 Add a new `lifetime` property to the `container` process
  dsl-reference.md
  examples/run-container-cleanup-always.yaml
  examples/run-container-cleanup-eventually.yaml
  schema/workflow.yaml
Labels: change: documentation, change: feature, area: spec, area: examples

#1058 Add warnings about using the `$secrets` runtime expression
  dsl.md
Labels: change: documentation, area: spec

#1057 Add a new `redirect` property to both `http`and `openapi` calls
  dsl-reference.md
  examples/call-http-redirect.yaml
  examples/call-openapi-redirect.yaml
  schema/workflow.yaml
Labels: change: fix, change: documentation, change: feature, area: spec, area: examples

#1063 Restrict script language versions
  dsl-reference.md
  dsl.md
Labels: change: fix, change: documentation, area: spec, type: feature

#1060 Add warnings about flow directives being able to only target tasks defined in the same scope
  dsl-reference.md
  dsl.md
Labels: change: documentation, change: feature, area: spec

#1059 Document the output of `fork` tasks in competing and non-competing scenarii
  dsl-reference.md
Labels: change: documentation, area: spec

#1061 Recommend container naming convention for runtime implementations
  dsl-reference.md
Labels: change: documentation, area: spec, spec: 1.0.0

#1062 Add support for dynamic container names via runtime expressions
  dsl-reference.md
  examples/run-container-with-name.yaml
  schema/workflow.yaml
Labels: change: documentation, change: feature, area: spec, spec: 1.0.0, area: examples, type: feature

#997 Added a new `until` property to `any` event consumption strategies
  .ci/validation/test/fixtures/invalid/listen-any-empty-no-until.yaml
  .ci/validation/test/fixtures/invalid/listen-any-until-any-until.yaml
  dsl-reference.md
  examples/listen-to-any-until-condition.yaml
  examples/listen-to-any-until-consumed.yaml
  schema/workflow.yaml
Labels: change: documentation, change: feature, area: spec

#1064 Add PHP and Rust SDKs to the SDK section in the README.md
  README.md
Labels: change: documentation, change: feature, area: spec

#1070 Add streaming capabilities to both the `listen` task and to the `asyncapi` (subscribe operation) call
  dsl-reference.md
  examples/call-asyncapi-subscribe-consume-forever-foreach.yaml
  examples/listen-to-all read-envelope.yaml
  examples/listen-to-any-forever-foreach.yaml
  schema/workflow.yaml
Labels: change: documentation, change: feature, area: spec, area: examples

#1054 Add documentation about workflow and task lifecycle events
  dsl-reference.md
  dsl.md
Labels: change: documentation, change: feature, area: spec

#1074 Remove the `cc` property from the `emit` task
  dsl-reference.md
  examples/emit-cc.yaml
  schema/workflow.yaml
Labels: change: feature, area: spec, change: breaking, area: examples, type: regression
